{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Position creation</h1>

    {{ form_start(form) }}
    <div class="form-group">
            {{ form_label(form.latitude) }}
                {{ form_widget(form.latitude, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
            {{ form_label(form.longitude) }}
                {{ form_widget(form.longitude, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
            {{ form_label(form.user) }}
                {{ form_widget(form.user, {'attr':{'class':'form-control'}}) }}
    </div>
    {{ form_widget(form.submit, {'attr':{'class':'btn btn-primary'}}) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_position') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
