<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/hollotracker/css/fullscreen.css') }}" />
</head>
<body>
<div id="map_canvas"></div>
<div id="event_log"></div>

<script type="text/javascript">
var imagesUrl = "{{ path('hollo_tracker_ajax_images') }}";
var routesUrl = "{{ path('hollo_tracker_ajax_routes') }}";
var markersUrl = "{{ path('hollo_tracker_ajax_markers') }}";
var zoom = {{ zoom }};
var center = {lat: {{ center.lat }}, lng: {{ center.lng }}};

var data;
{% if currentUser is defined %}
data = {user:{{ currentUser.id }}};
{% endif %}
</script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=geometry"></script>
<script type="text/javascript" src="{{ asset('bundles/hollotracker/js/api.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/hollotracker/js/map.js') }}"></script>
</body>
</html>
