{% extends "::base.html.twig" %}

{% block body %}

<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Map of suspects
            </div>
            <div class="panel-body">
                {{ google_map(map) }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Shouts
            </div>
            <div class="panel-body">
                {% for shout in shouts %}
                <h4>{{ shout.user.username }} <small>{{ shout.user.fraction.name }}</small></h4>
                <p>{{ shout.content }}<br>
                <small class="text-muted">{{ shout.createdAt|date('m/d H:i') }}</small>
                </p>

                {% if loop.last == false %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Signup
            </div>
            <div class="panel-body">
                <p>Not yet on-board? Follow this signup procedure.</p>
                <a class="btn btn-primary" href="{{ path('hollo_tracker_signup_index') }}">Sign up</a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Pirates
            </div>
            <div class="panel-body">
                {% for fraction in fractions %}
                <h4>{{ fraction.name }} {% if fraction.icon %}<img src="{{ asset('bundles/hollotracker/images/'~fraction.icon) }}" />{% endif %}</h4>

                {% for user in fraction.users %}
                {% if currentUser is defined and currentUser == user %}[{% endif %}
                <a href="{{ path('hollo_tracker_dashboard_track', {'id':user.id}) }}">{{ user.name }}</a>
                {% if currentUser is defined and currentUser == user %}]{% endif %}<br>
                {% endfor %}
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
