<!DOCTYPE html>
<html>
<head>
	<title>Animated route</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<style>
		html, body, #map {
                    height: 100%;
                    margin: 0px;
                    padding: 0px
		}
                #myTextDiv {
                    border: 2px solid #73AD21;
                    border-radius: 25px;
                    z-index: 999;
                    background-color: GREEN;
                    opacity: 0.8;
                    padding: 20px;
                    text-align: center;
                    color: #fff;
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    font-family: Verdana;
                }
                #myTextDiv span {
                    font-size: 20px;
                }
	</style>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=geometry"></script>
	<script>
		function initialize() {
			var map = new google.maps.Map(document.getElementById("map"), {
			  center: {lat: 57.0445, lng: 9.93},
			  zoom: 15,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
			});

			autoRefresh(map);
		}

		function moveMarker(map, marker, latlng) {
			marker.setPosition(latlng);
			//map.panTo(latlng);
		}

		function autoRefresh(map) {
			var i;

                        {% for user in users %}
                        var route{{ user.user.id }}, marker{{ user.user.id }};

                        route{{ user.user.id }} = new google.maps.Polyline({
				path: [],
				geodesic : true,
				strokeColor: '#'+Math.floor(Math.random()*16777215).toString(16),
				strokeOpacity: 0.2,
				strokeWeight: 2,
				editable: false,
				map:map
			});

                        marker{{ user.user.id }}=new google.maps.Marker({map:map,icon:"{{ asset('bundles/hollotracker/images/marker-pirate.png') }}"});

                        for (i = 0; i < pathCoords{{ user.user.id }}.length; i++) {
				setTimeout(function (coords)
				{
					var latlng = new google.maps.LatLng(coords.lat, coords.lng);
                                        route{{ user.user.id }}.getPath().push(latlng);
                                        moveMarker(map, marker{{ user.user.id }}, latlng);
                                }, 100 * i, pathCoords{{ user.user.id }}[i]);
			}
                        {% endfor %}

                        for (i = 0; i < counter.length; i++) {
				setTimeout(function (i)
				{
                                    var dom = document.getElementById("time").innerHTML = i.time;
                                }, 100 * i, counter[i]);
			}
		}

                {% for user in users %}
                var pathCoords{{ user.user.id }} = [
                    {% for pos in user.positions %}
		    {
                        "lat": {{ pos.latitude }},
                        "lng": {{ pos.longitude }}
                    }
                    {% if loop.last == false %},{% endif %}
                    {% endfor %}
		];
                {% endfor %}

                var counter = [
                    {% for c in counter %}
		    {
                        "time": "{{ c }}"
                    }
                    {% if loop.last == false %},{% endif %}
                    {% endfor %}
		];

		google.maps.event.addDomListener(window, 'load', initialize);

	</script>
</head>
<body>
    <div id="outer" style="width:100%">
        <div id="myTextDiv">
            <span id="time">00:00</span>
        </div>
    </div>
    <div id="map"></div>
</body>
</html>
